*.unselectable {
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-o-user-select: none;
	user-select: none;
}

#canvas {
    cursor: hand;
    cursor: pointer;
}
#toolbox-canvas {
	
}
#cog-color {
    width: 100px;
    margin-left: 4px;
}
#cog-transparancy {
    width: 110px;
    margin-left: 4px;
}
#cog-settings {
    z-index: 10000;
    position: absolute;
    width: 122px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    right: 0;
    top: 0;
    background-color: #f5f5f5;
    border: 1px;
    border-color: #b3b3b3;
}

