#main-canvas {
	
}
#toolbox-canvas {
	
}
#cog-color {
    width: 100px;
    margin-left: 4px;
}
#cog-transparancy {
    width: 110px;
    margin-left: 4px;
}
#cog-settings {
    z-index: 10000;
    position: absolute;
    width: 122px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    right: 0;
    top: 0;
    background-color: #f5f5f5;
    border: 1px;
    border-color: #b3b3b3;
}

